{**
 * Copyright (c) 2018 Wakers.cz
 *
 * @author Jiří Zapletal (http://www.wakers.cz, zapletal@wakers.cz)
 *
 *}

{extends './text_plain.latte'}

{block input}
    <select n:name="{$component->getName()}"></select>
{/block}